<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Supméca</title>
    </head>
    <body>
        <div class="main-login">
            <h1>Page de connexion</h1>
            <p id="incorrect">{{ result }}</p>
            <form action="/dashboard" method="post">
                <p><input type="text" name="username" placeholder="Username"></p>
                <p><input type="password" name="password" placeholder="Password"></p>
                <p><input class="button" type="submit" value="Se connecter"></p>
            </form>
        </div>
    </body>
</html>