*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background-color: #0A090A;
    color: #fff;
    font-size: 16px;
}

.main-login{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-login h1{
    margin-bottom: 10px;
    color: #FFF00F;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p{
    margin: 10px 0;
    font-size: 20px;
}

.button{
    background-color: #FFF00F;
    color: #0A090A;
    margin-top: 10px;
}

input{
    background-color: #191819;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
}

header{
    text-align: center;
    margin: 30px 0;
    color: #FFF00F;
    font-size: 24px;
}
.main__marks{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font-size: 22px;
}

.main__marks__element{
    border-radius: 10px;
    margin: 20px;
    width: 25em;
    padding: 20px;
    background-color: #191819;
    font-size: 14px;
}

.note{
    color: #FFF00F;
    font-size: 20px;
}

