<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Supméca</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="main">
            <header>
                <h1>Vos notes</h1>
            </header>
            <div class="main__marks">
            {%for element in result %}
                <div class="main__marks__element">
                    <h2 class="titre">{{ element['titre'] }}</h2>
                    <p class="date">{{ element['date'] }}</p>
                    <p class="note">{{ element['note'] }}</p>
                </div>
            {%endfor%}
            </div>
        </div>
    </body>
</html>